body {
}

#DusseldorfCity {
    background-color: burlywood;
    width: 200px;
    height: 75px;
    border-radius: 5%;
    margin: auto;
}


#Pic1 {
    width:200px;
    height:150px;
    border: dashed 3px black;
    border-radius: 80%;
}